.bis-grid {
  .bis-toolbar {
    background-color: #f8f8f8;
    border: #babfc7 solid 1px;
    border-left: 0px;
    border-radius: 3px;
  }

  .bis-transparent-button {
    background: transparent;
    border-color: #babfc7;
    color: black;
    text-shadow: 0px 0px black;
    box-shadow: 0px 0px black;
    border-width: 0px 0px 1px 0px;
  }

}
