.bis-grid {
  .bis-toolbar {
    background-color: #f8f8f8;
    border: #babfc7 solid 1px;
    border-left: 0px;
    border-radius: 3px;
  }

  .bis-transparent-button {
    background: transparent;
    border-color: transparent;
    color: black;
  }

}
