body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.bis-button {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  font-family: Ariel;
  text-decoration: none;
  height: 28px;
}

.bis-red-button {
  @extend .bis-button;
  background-color: #ca2420;
  background: #ca2420;
  border-color: #ca2420;
}

.bis-red-button:hover,
.bis-red-button:focus,
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ca2420;
  background: #ca2420;
  border-color: #ca2420;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #737373;
}

.bis-gray-button {
  @extend .bis-button;
  background-color: #737373;
  background: #737373;
  border-color: #737373;
}

.bis-gray-button:hover,
.bis-gray-button:focus {
  background-color: #737373;
  background: #737373;
  border-color: #737373;
}

.bis-button-group button {
  margin-right: 5px;
}

.bis-button-div {
  margin-top: 5px;
}

.ant-tabs {
  background: #efefef;
  padding: 10px;
  margin-top: 5px;
}

.ant-tabs-nav-list {
  background: transparent;
}

.ant-tabs-nav .ant-tabs-tab-btn {
  font-size: 12px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.bis-anchor {
  color: #ca2420;
}

.ant-tabs-tab-active {
  background: white !important;
}

.ant-tabs-tab:hover {
  color: white;
}

.ant-tabs-ink-bar {
  background-color: #ca2420;
  background: #ca2420;
}

.ant-tabs-content-holder {
  margin-top: -16px;
  border-top: 1px solid white;
  padding-top: 8px;
}

.ag-row,
.ag-header {
  font-size: 11px !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.bis-popover-save-button {
  margin-top: 10px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #737373;
  background: #737373;
  border-color: #f6f6f6;
  color: black;
}

.ant-select {
  width: 100%;
}

.bis-col {
  margin-right: 10px;
}

.bis-row {
  margin-bottom: 10px;
}

.bis-align-center {
  text-align: center;
}

.ant-btn-icon-only {
  height: 28px;
  padding: 0px;
  vertical-align: -1px;
}

.ant-tabs-tab {
  margin: 0 2px 0 0;
  padding: 8px 20px;
  background: #737373;
  color: white;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: white;
}

.ant-input,
.ant-picker,
.ant-picker-input > input,
.ant-picker-dropdown,
.ant-select,
.ant-input-number {
  font-size: 12px;
}

.ant-btn-icon-only > * {
  font-size: 18px;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder,
.ant-select {
  line-height: 28px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.ant-input-number-input,
.ant-input-number {
  height: 28px;
}

.bis-popover-list {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
  padding-top: 5px;
}

.ant-popover-placement-bottomLeft {
  left: 15px !important;
  font-size: 12px;
}

.ql-container {
  height: 200px !important;
}

.ag-theme-alpine
  .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right):not(.ag-cell-range-single-cell) {
  border-right: solid 0px !important;
}

.ant-popover-inner-content {
  padding: 0px 16px;
}
