.bis-dashboard-tab-view
{
    margin: 0px 10px 10px 10px;

   .bis-dashboard-search-row
   {
       margin-bottom:5px;
      
       .ant-col
        {
            margin-right:5px;
        }
   } 

   .bis-maroon-cell
   {
    background: #dc0033;
    color: white;
   }
}